* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

body {
    color: #eee;
}

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: #3d3d3d;
    position: fixed;
    border-right: 1px solid #eee;
    padding-top: 10%;
    text-align: center;
}

.sidebar h1,
h3 {
    padding-bottom: 15px;
}

.projectList {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.projectDelete {
    margin-left: 10px;
    height: 14px;
}

.sidebar p:hover {
    cursor: pointer;
}

.pageContent {
    margin-left: 25%;
    height: 100vh;
    background-color: #666;
    padding-top: 3%;
    padding-left: 5%;
}

.pageContent h1 {
    padding-bottom: 15px;
}

.tasks {
    padding-bottom: 15px;
}

.task {
    width: 55%;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
}

.taskName {
    width: 50%;
}

.taskInfo {
    display: flex;
}

.addTaskButton {
    padding: 7px;
    cursor: pointer;
    background-color: #bbb;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    color: #3d3d3d;
    font-weight: bold;
}

.addProjectButton {
    padding: 7px;
    cursor: pointer;
    background-color: #bbb;
    border-radius: 10px;
    color: #3d3d3d;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.addTaskContainer {
    margin-bottom: 15px;
}

.completedTasks {
    display: flex;
}
