* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

body {
    color: #fff;
    background-color: #f6f7f9;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.sidebar {
    width: 25%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.sidebar h1,
h3 {
    padding-bottom: 15px;
}

.projectTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.projectTitle {
    cursor: text;
    padding: 1%;
}

.projectTitle:hover {
    background-color: #eaeaea;
}

.editProjectTitleInput {
    padding: 1%;
    width: 250px;
    border-style: solid;
    border-color: #1b3a572e;
    border-width: 1px;
    border-radius: 15px;
    font-size: 30px;
    color: #1b3a57;
    font-weight: bold;
}

.editProjectTitleInput:focus {
    outline: none !important;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
}

.projectTitleClose {
    cursor: pointer;
}

.projectList {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: #051e3470;
    padding: 10px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #051e3400;
}

.projectDelete {
    margin-left: 10px;
    height: 14px;
    filter: invert(1);
}

.projectList:hover {
    cursor: pointer;
    background-color: #051e34a8;
}

.pageContent {
    margin-left: 25%;
    background-color: #f6f7f9;
    color: #1b3a57;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.pageContent h1 {
    /* padding-bottom: 15px; */
}

.selectProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    white-space: nowrap;
}

.selectProjectContainer h1 {
    font-size: 3em;
}

.tasks {
    padding-bottom: 15px;
}

.taskDiv {
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #eaeaea;
    color: #1b3a57;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.taskDiv:hover {
    box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #e6e4e4;
}

.taskToggle {
    cursor: pointer;
}

.taskName {
    width: 50%;
}

.taskInfo {
    display: flex;
    background-color: #f6f7f9;
    padding: 15px 5px 15px 5px;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-color: #1b3a572e;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.addTaskButton {
    padding: 7px;
    cursor: pointer;
    background-color: #054257;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
}

.addTaskButton:hover {
    background-color: #043242;
}

.addProjectButton {
    padding: 10px;

    background-color: #051e3470;
    width: 180px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
}

.addProjectButton:hover {
    cursor: pointer;
    background-color: #051e34a8;
}

.addTaskContainer {
    margin-bottom: 15px;
}

.completedTasks {
    display: flex;
    background-color: #eaeaea;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.taskTitle {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.button {
    padding: 7px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

.updateButton {
    background-color: #054257;
    color: #f6f7f9;
    margin-right: 20px;
}

.updateButton:hover {
    background-color: #043342;
}

.completedButton {
    background-color: #367b6d;
    color: #f6f7f9;
}

.completedButton:hover {
    background-color: #2a5f54;
}

.removeButton {
    background-color: #b04848;
    color: #f6f7f9;
}

.removeButton:hover {
    background-color: #883838;
}

.taskInputDiv {
    display: flex;
    align-items: center;
}

.taskUpdateInput {
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    border-style: solid;
    border-color: #1b3a572e;
    border-width: 1px;
    border-radius: 15px;
}

.taskUpdateInput:focus {
    outline: none !important;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
}

.addTaskInput {
    padding: 10px;
    border-radius: 15px;
    margin-right: 5px;
    width: 200px;
    border-style: solid;
    border-color: #1b3a572e;
    border-width: 1px;
    border-radius: 15px;
}

.addTaskInput:focus {
    outline: none !important;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
}

.expandedAddTaskButton {
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    background-color: #054257;
    color: #f6f7f9;
}

.expandedAddTaskButton:hover {
    background-color: #043242;
}

.expandedAddTaskContainer {
    display: flex;
    align-items: center;
}

.expandedAddTaskContainer input {
    margin-right: 20px;
}

.expandedAddTaskContainer select {
    margin-left: 5px;
    margin-right: 20px;
}

.completedTaskDelete {
    height: 14px;
    cursor: pointer;
}

.addProjectInput {
    padding: 10px;
    border-radius: 15px;
    margin-right: 5px;
    width: 150px;
    border-style: solid;
    border-color: #1b3a572e;
    border-width: 1px;
    border-radius: 15px;
}

.addProjectInput:focus {
    outline: none !important;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
}

.expandedAddProjectContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.expandedAddProjectButton {
    padding: 10px;
    background-color: #051e3470;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}

.expandedAddProjectButton:hover {
    cursor: pointer;
    background-color: #051e34a8;
}

.taskGlanceDiv {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.completedTaskGlanceDiv {
    display: flex;
    justify-content: space-between;
}

.taskGlanceType {
    background-color: #003851bd;
    color: #fff;
    padding: 1px 7px 1px 7px;
    border-radius: 10px;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
    max-height: 20px;
}

.taskGlancePriorityLow {
    background-color: #16bf50a6;
    color: #fff;
    border-radius: 50%;
    padding: 11px;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
    max-height: 0px;
}

.taskGlancePriorityMedium {
    background-color: #babf16a6;
    color: #fff;
    border-radius: 50%;
    padding: 11px;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
    max-height: 0px;
}

.taskGlancePriorityHigh {
    background-color: #bf1616a6;
    color: #fff;
    border-radius: 50%;
    padding: 11px;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
    max-height: 0px;
}

.dropdown {
    padding: 10px;
    border-radius: 15px;
    margin-right: 5px;
    width: 100px;
    border-style: solid;
    border-color: #1b3a572e;
    border-width: 1px;
    border-radius: 15px;
    background-color: #fff;
}

.selectedSidebarProject {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: #051e3470;
    padding: 10px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

.homeContainer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .homeContainer {
        flex-direction: column;
    }
    .contentText {
        padding-top: 25%;
        padding-bottom: 25%;
    }
    .contentContainer {
        -webkit-box-shadow: 0px 13px 40px 5px #000000;
        box-shadow: 0px 13px 40px 5px #000000;
    }
    .loginContainer {
        padding-top: 25%;
        padding-bottom: 25%;
        z-index: -1;
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    flex: 50%;
    background-color: #f1f1f3;
}

.contentText {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1b3a57;
}

.contentText p {
    padding-top: 1%;
}

.loginContainer {
    flex: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("./images/sidebar_background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.25);
}

.laptopImage {
    width: 100%;
    pointer-events: none;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput {
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: #1b3a572e;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 15px;
    width: 220px;
}

.loginInput:focus {
    outline: none !important;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
}

.loginButton {
    padding: 10px;
    background-color: #051e3470;
    margin-top: 15px;
    width: 220px;
}

.loginButton:hover {
    background-color: #051e34a8;
}

.errorMessage {
    color: #bd4747;
    padding: 10px;
    background-color: #051e34a8;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 15px;
}

.userDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signoutButton {
    background-color: #054257;
    color: #fff;
    border-radius: 15px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #1b3a572e;
    box-shadow: 0 0 3px #1b3a5762;
    font-weight: bold;
    white-space: nowrap;
}

.signoutButton:hover {
    cursor: pointer;
    background-color: #043242;
}

.loginSubTitle {
    padding-bottom: 0px;
    margin-top: 15px;
}

.createAccountToggle {
    margin-top: 25%;
}

.createAccountToggle:hover {
    cursor: pointer;
}

.deleteProject {
    display: flex;
    justify-content: flex-end;
}

.deleteProjectButton {
    cursor: pointer;
    padding: 5px;
    background-color: #b04848;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #1b3a572e;
    font-weight: bold;
    font-size: small;
    margin-bottom: 25px;
}

.deleteProjectButton:hover {
    background-color: #923c3c;
}

.content {
    overflow: hidden;
    max-height: 0;
    display: flex;
    background-color: #f6f7f9;
    justify-content: space-around;
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    display: flex;
    background-color: #f6f7f9;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #1b3a572e;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: default;
    flex-wrap: wrap;
}

.content.show div {
    margin: 10px;
}

.tasksOpen {
    background-color: #ff00009e;
    padding: 2px 6px 2px 6px;
    border-radius: 50%;
    font-size: 0.8em;
}

.updateTaskContainer {
    display: flex;
    align-items: center;
}

.updateTaskContainer input {
    margin-left: 5px;
}

.updatePriorityContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.updateTypeContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdownUpdateContainer {
    display: flex;
}
